@import "tailwindcss";

.section-card {
  @apply min-h-screen max-h-screen p-8 bg-[#14213D] border-2 border-[#CCC9DC] rounded-2xl shadow-2xl shadow-black;
}

.body-setup {
  @apply flex flex-col gap-4 m-0 p-5 font-serif bg-[#0C1821] text-[#CCC9DC] scroll-smooth text-[16px];
}

.btn-default {
  @apply cursor-pointer bg-[#0C1821] rounded-4xl text-[#CCC9DC];
}

.nav-bar-elements {
  @apply h-8 border-l-2 border-dotted border-[#CCC9DC] ml-[50%];
}

.image-hover {
  @apply transition-transform duration-300 ease-out transform hover:scale-105 hover:shadow-2xl hover:shadow-black
         hover:-translate-y-1;
}

.portfolio-projects-container {
  @apply flex flex-col gap-2 border-2 border-[#CCC9DC] rounded-2xl items-center overflow-hidden justify-between;
}

.portfolio-projects-container img {
  @apply object-cover;
}

.art-images {
  @apply rounded-full overflow-hidden transition-transform duration-300 ease-out transform hover:scale-200 hover:shadow-2xl hover:shadow-black
         hover:-translate-y-1;
}

/* Webkit is a engine specific experimental apply call */
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #1e1e1e; /* dark theme example */
  border-radius: 10px;
}

/* Thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background: #CCC9DC; /* amber-400 */
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #14213D;
}
