@import "tailwindcss";

.section-card {
  @apply p-8 bg-[#14213D] border-2 border-[#CCC9DC] rounded-2xl shadow-2xl shadow-black;
}

.body-setup {
  @apply flex flex-col gap-4 m-0 p-5 font-serif bg-[#0C1821] text-[#CCC9DC] scroll-smooth text-[16px];
}

.btn-default {
  @apply cursor-pointer bg-[#0C1821] rounded-4xl text-[#CCC9DC];
}

.nav-bar-elements {
  @apply h-8 border-l-2 border-dotted border-[#CCC9DC] ml-[50%];
}

.image-hover {
  @apply transition-transform duration-300 ease-out transform hover:scale-105 hover:shadow-2xl hover:shadow-black
         hover:-translate-y-1 hover:cursor-pointer;
}

.portfolio-projects-container {
  @apply flex flex-col gap-2 border-2 border-[#CCC9DC] rounded-2xl items-center overflow-hidden justify-between;
}

.portfolio-projects-container img {
  @apply object-cover;
}

.art-images {
  @apply rounded-full overflow-hidden transition-transform duration-300 ease-out transform hover:scale-200 hover:shadow-2xl hover:shadow-black
          hover:-translate-y-1;
}

.text-card {
  @apply bg-[#0C1821] shadow-lg shadow-black rounded-2xl p-2
          text-[#CCC9DC] text-[18px] leading-normal;
  /* Limit text to ~8 words per line */
  max-inline-size: 20ch; /* roughly 8 words depending on font */
}

.text-card-p:hover, .journey-feet {
  @apply pointer-events-none;
}
/* .text-card:hover .journey-feet {
  @apply hidden;
}
 */
.text-card:hover .text-card-p {
  @apply line-clamp-none z-50;
  max-inline-size: 80ch;
}

.text-card:hover .journey-feet {
  @apply hidden;
}

.text-card:hover {
  @apply line-clamp-none z-50 p-6 text-2xl shadow-2xl shadow-black -translate-y-1 cursor-pointer;
  max-inline-size: 80ch;
}

.card-active {
    @apply line-clamp-none z-50 p-6 text-2xl shadow-2xl shadow-black -translate-y-1 cursor-pointer;
  max-inline-size: 80ch;
}

.text-active {
    @apply line-clamp-none z-50;
  max-inline-size: 80ch;
}

/* .text-card-active {
  @apply line-clamp-none z-50 p-6 text-2xl shadow-2xl shadow-black -translate-y-1 cursor-pointer;
  max-inline-size: 80ch;
}

.text-card-active .journey-feet {
  @apply hidden;
} */


/* Webkit is a engine specific experimental apply call */
/* Width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track (background of scrollbar) */
::-webkit-scrollbar-track {
  background: #1e1e1e; /* dark theme example */
  border-radius: 10px;
}

/* Thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background: #CCC9DC; /* amber-400 */
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #14213D;
}
